/*reiniciando la hoja*/

*{
    margin: 0;
    padding: 0;
}

/*sumando variables*/
@import "variables/variables";
@import "variables/principalescoberturas";

/*sumando bosstrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/*sumando íconos de redes sociales con sus atributos*/
.bi-facebook{
    color: black;
    font-size: 40px;

    &:hover{ color: blue;}
}

.bi-twitter{
    color: black;
    font-size: 40px;

    &:hover{ color: lightblue;}
}

.bi-instagram{
    color: black;
    font-size: 40px;

    &:hover{ color: indigo;}
}

/*configuración de grilla*/
.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: "1header"
                         "2nav"
                         "3main"
                         "4footer";
    min-height: 100vh;
    font-family: $fuente_principal;
}

/*preparo header*/
header{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

/*preparo Nav*/
    nav{
        background-color: white;
        
        ul{
            display:flex;
            height: 100%;
            justify-content: space-evenly;
            align-items: center;
            list-style-type: none;
                
        a{
            text-decoration: none;
            color: lightskyblue;
            font-size: 35px;
            }
        }
    }

    /*preparo la galeria*/
    .grid_galeria{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 70% 10%;
        grid-template-areas: "img titulo"
                             "img parrafo"
                             "img boton";
        justify-content: space-around;
        align-content: space-evenly;
        justify-items: center;
        align-items: center;
    
    }

    .titulo_car{
        color: $color_fuenteprincipal;
    }

    .parrafo_car{
        color: $color_fuentesecundaria;

    }

    .car{
        font-size: 20px + 2;
        color: rgb(26, 26, 85);

    }
   
    /*trabajo de títulos*/
    .titulo{
        height: 100%;
        width: 100%;
        font-weight: 500px;
        font-size: 55px;
    }

    .titulo--principal{
        @extend .titulo;
        font-family: $fuente_principal;
        color: $color_fuenteprincipal;
        text-decoration: underline;

    }
    
    .titulo--secundario{
        @extend .titulo;
        font-family: $fuente_secundaria;
        color: $color_fuentesecundaria;
        text-align: center;
    }

    /*trabajo de parrafos*/
    .textosecundario{
        font-family: $fuente_parrafo;
        color: $color_fuenteparrafo;
    }

    /*configuro imagen*/
    .imagen_imp{
        width: 100%;
        height: 100%;
        grid-area:img;
    }
    .rellenar{
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: contain;
        filter: grayscale(100%);
        
        &:hover{ 
            filter: grayscale(0%);
            border: solid 5px;
            transition: 3s;
        }
    }
    
    /*acomodo el main*/
    #grilla_principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px
        
    }
    /* configuro imagen prnicipal*/
    .plotter{
        width: 100%;
        height: 100%;
        max-height: 50%;
        object-fit: contain;
    
    }
/*configuro apariencia del video*/
    .video{margin-left: 20%;}
/*configuro el footer*/
    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-image: linear-gradient(to left, rgb(128, 85, 0), rgb(255, 0, 0));
        
        p{
            font-size: 15px;
            margin-top: 10px;
        }
      }

/*configuro imagen segundaria*/
.imagenseguros{
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    
    &:hover{ 
        filter: grayscale(0%);
        border-radius: 5%;
        transition: 3s;
    }
}

/*doy estilo al apartado*/
.divconjunto{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    color: blue;
    font-weight: 50px;
}


.central{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*configuro subgrilla y elementos*/

.gridproductos{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "a1 a2 a3"
                         "a4 a5 a6"
                         "a7 a8 a9"
    
}

.pngauto{
    
    grid-area: a1;

    &:hover{ transform: rotate(40deg);
    }
}
 
 
 .pngmoto{
     grid-area: a2;

     &:hover{ transform: rotate(40deg);}
 }
 
 .pngcasa{
     grid-area: a3;

     &:hover{ transform: rotate(40deg);}
 }
 
  .tituloauto{
     grid-area: a4;
 }
 
 .titulomoto{
     grid-area: a5;
 }
 
 .titulocasa{
     grid-area: a6;
 }


/*doy estilo a botones aplicando mixin*/
.parrafo--rcivil{
    @include style_principalescoberturas    ( yellow , red)
}

.parrafo--tercomp{
    @include style_principalescoberturas( red, yellow)
}

.parrafo--roboydt{
    @include style_principalescoberturas( $color_fuenteprincipal , grey)
}

.parrafo--vidacolec{
    @include style_principalescoberturas( $color_fuentesecundaria , rgb(0, 213, 255))
}

/*animación incorporada en imagen*/
@keyframes colorfruta{
    from{opacity: 0;}

    to{opacity: 100;}
}

/*coloco media queris para dispositivos moviles*/
@media only screen and (max-width: 600px){

    ul{
        flex-direction: column;
    }

   }

   .titulo--principal{
    @extend .titulo;
    font-family: $fuente_principal;
    color: $color_fuenteprincipal;
    text-decoration: underline;

}
/*coloco media queris con cosas específicas para dispositivos grandes*/
@media only screen and (min-width: 600px){

    ul{
        flex-direction: row;}

    
    .div_galeria{
        display: flex;
        flex-direction: row;}

    .titulo_galeria{
        font-size: 20px;
    }

    .botoncontrata{
        width: 80%;
        height: 25px;
        
    }

    .grid_section a{
        font-size: 15px;
        color: blue;
    }

}