/*seteando variables más usadas*/
$color_fuenteprincipal: red;
$color_fuentesecundaria: blue;
$color_fuenteparrafo: rgb(138, 10, 10);
$fuente_principal: Lucida Sans;
$fuente_secundaria: arial;
$fuente_parrafo: impact;